body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background: radial-gradient(ellipse at center, rgb(234, 235, 255) 0%, rgba(255, 254, 234, 1) 35%, #c5ebb7 100%);
    overflow: hidden;
}

.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.titulo {
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.jugadores__content {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.jugadores__content {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.select {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

.accion__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 25%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.accion__button:hover {
    background-color: #0056b3;
}

.result__game {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.result {
    flex: 1;
    font-size: 18px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    background-color: #15ffa1b6;
    border: 1px solid #ababab;
    border-radius: 5px;
}